In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import kagglehub

# Download latest version
path = kagglehub.dataset_download("aasheesh200/framingham-heart-study-dataset", path = 'framingham.csv')

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.3.11).

In [23]:
df = pd.read_csv(path)
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [24]:
# Cols with null values
df.columns[df.isna().any()].tolist()
df.columns

Index(['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

In [25]:
# Clear out null values
df.dropna(inplace=True)

In [26]:
# Task 1: Pick subjects with and without lifestyle intervention (can be simulated from categorical variables like smoking, physical activity, etc.).

In [31]:
# Lets assume that people who dont are not smoking currently are under intervention
df_with_intervention = df[(df['currentSmoker'] == 0)]
df_without_intervention = df[(df['currentSmoker'] != 0)]

In [30]:
# Task: Calculate the observed difference in mean systolic BP.

min_size = min(len(df_with_intervention), len(df_without_intervention))

# Drop a few rows from without in. people to make n equal
df_with_intervention = df_with_intervention.sample(n=min_size, random_state=42)
df_without_intervention = df_without_intervention.sample(n=min_size, random_state=42)

mean_bp_a = df_with_intervention['sysBP'].mean()
mean_bp_b = df_without_intervention['sysBP'].mean()

print(f'Sys BP of intervened group: {mean_bp_a}')
print(f'Sys BP of non-intervened group: {mean_bp_b}')

Sys BP of intervened group: 135.63259345794393
Sys BP of non-intervened group: 129.1728971962617