In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("imdevskp/corona-virus-report", path = 'country_wise_latest.csv')

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.3.11).
Downloading from https://www.kaggle.com/api/v1/datasets/download/imdevskp/corona-virus-report?dataset_version_number=166&file_name=country_wise_latest.csv...

100%|██████████████████████████████████████████████████████████████| 14.4k/14.4k [00:00<00:00, 8.13MB/s]

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

df = pd.read_csv(path)
df.head()

  Country/Region  Confirmed  ...  1 week % increase             WHO Region
0    Afghanistan      36263  ...               2.07  Eastern Mediterranean
1        Albania       4880  ...              17.00                 Europe
2        Algeria      27973  ...              18.07                 Africa
3        Andorra        907  ...               2.60                 Europe
4         Angola        950  ...              26.84                 Africa

[5 rows x 15 columns]