In [28]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("desalegngeb/students-exam-scores", path = 'Expanded_data_with_more_features.csv')

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.10), please consider upgrading to the latest version (0.3.11).

In [29]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

In [30]:
df = pd.read_csv(path)
df.head()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

In [31]:
# Check missing cols
df.columns[df.isna().any()].tolist()

['EthnicGroup',
 'ParentEduc',
 'TestPrep',
 'ParentMaritalStatus',
 'PracticeSport',
 'IsFirstChild',
 'NrSiblings',
 'TransportMeans',
 'WklyStudyHours']

In [32]:
df.fillna({
    'WklyStudyHours': df['WklyStudyHours'].ffill(),
}, inplace=True)

df.dropna(inplace=True)

df.shape

(19878, 15)

In [33]:
df['MathScore'].mean()

np.float64(66.62999295703793)

In [37]:
# Task: Perform a one-sample t-test to check if the average math score is significantly different from 75
# H0 -> math score is near to 75
# H1 -> maths score is different from 75


t_stat, p_val = stats.ttest_1samp(df['MathScore'], 75)

print(t_stat)
print(p_val)

# As the p-val is 0 we can clearly reject the null hypothesis and say that avg math score is actually different from 75

-76.85968552953827
0.0

In [45]:
male_df = df[(df['Gender'] == "male")]
female_df = df[(df['Gender'] == "female")]

print(male_df['ReadingScore'].describe())

print(female_df['ReadingScore'].describe())

# Hypothesis avg reading score of females and males is different

count    9784.000000
mean       65.841374
std        14.479528
min        10.000000
25%        56.000000
50%        66.000000
75%        76.000000
max       100.000000
Name: ReadingScore, dtype: float64
count    10094.000000
mean        73.082921
std         14.182787
min         16.000000
25%         63.000000
50%         73.000000
75%         84.000000
max        100.000000
Name: ReadingScore, dtype: float64

In [51]:
# Task: Compare the mean reading scores of male and female students using a two-sample t-test.
# H0 -> avg reading score of females and males is same
# H1 -> avg reading score of females and males is different

t_stat, p_val = stats.ttest_ind(male_df['ReadingScore'], female_df['ReadingScore'])

print(t_stat)
print(p_val)

# As p_val is lesser than 0.05: We can reject H0 and say the scores are actually different

-35.62053684751201
1.9010627340882098e-269